@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.App{
  display:flex;
}


/* Sidebar side */

.Sidebar{
  width:30%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.sidebar-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  left:0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Sidebar h1{
  font-size: 40px;
}

.add-btn{
  background:transparent;
  border:none;
  font-size:20px;
  font-weight: 600;
  color:aqua;
  cursor:pointer;
}

.sidebar-notes{
   padding: 0 2rem;
   margin-top: 3rem;
}

.sidebar-note{
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.sidebar-note-header{
  display:flex;
  justify-content: space-between;
}

.delete-btn{
  background:transparent;
  border:none;
  font-size:15px;
  font-weight: 600;
  color:red;
  cursor:pointer;
}

.active{
  background-color: rgb(0, 68, 255);
  color:white;
}

.no-active-note{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 300;
  color: gray;
}

/* Main side */
.Main{
  width: 70%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

.main-note-edit{
  height: 50%;
  padding: 20px 100px;
}

#title{
  width: 92%;
  padding: 10px 15px;
  font-size: 2rem;
  border-radius: 20px;
}

#body{
width: 92%;
margin-top: 1.3rem;
height: 350px;
font-size: 1.6rem;
padding: 10px 15px;
border-radius: 20px;
}

.main-note-preview{
  height: 50%;
  padding: 1rem 7rem;
  color:gray;
}


/* Search */
.Search{
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  height: 50%;
  display:flex;
  flex-direction: column;
  margin-right: 2rem;
}

.search-header{
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  padding-left: 3rem;
}

.search-input{
  width: 240px;
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  outline : none;
}

.search-btn{
  height: 27px;
  position: relative;
  right: 33px;
  top: 6px;
}

.Search ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
}

.Search ul li{
  border: 1px solid black;
  padding: 5px 25px;
  border-radius: 10px;
  margin-top: 15px;
}